body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
p {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}
span{
  margin-right: 7px;
}
button#submitButton{
  margin-top: 10px; 
  float:right;
}
.myForm {
  width: 270px;
}
.error{
  border:1px solid red;
}