<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="myForm">
      <form action="/action_page.php" method="get">
      <p><span>ФИО:</span><input name="fio" type="text"></p>
      <p><span>Почта:</span><input name="email" type="email"></p>
      <p><span> Сообщение:</span><textarea name="message" ></textarea></p>
      <button id="submitButton">Отправить</button>
      <div id="resultContainer">
      </div>
   
    </form>
    </div>
  </body>
</html>
